@import url('reset.css');

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
		url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
		url('../fonts/Roboto-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
		url('../fonts/Roboto-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Black.woff2') format('woff2'),
		url('../fonts/Roboto-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Roboto";
	color: #212121;
	font-weight: 400;
	font-size: 14px;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;

}



/* HERO */





.hero { 
	height: 600px; 
	display: flex; 
	text-align: center; 
	align-items: center; 
	justify-content: center; 
	background: url('../img/hero.jpg') no-repeat 50% / cover; 
	position: relative; 
   } 
   .hero::before{ 
	content: ''; 
	position: absolute; 
	inset: 0; 
	background-color: rgba(47, 48, 58, 0.4); 
   } 
   .hero .container{ 
	position: relative; 
   }
.hero-title {
	font-size: 44px;
	text-transform: uppercase;
	font-weight: 900;
	max-width: 700px;
	margin: 0 auto;
	color: #fff;
	margin-bottom: 30px;
	letter-spacing: 5px;
	z-index: 2;
	text-align: center;
}

.hero-butoon {
	background: #2196F3;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	padding: 16px 46px 15px;
	border-radius: 4px;
	display: inline-block;
}
.hero-butoon:hover {
	background: #1385e2;
}

/* ABOUT */
.about {
	padding-top: 94px;
}
.about-cards{
	display: flex;
	gap: 30px;
}

.card_fishk{
	position: relative;
	padding-top: 140px;
	flex: 1 1 20%;
}
.card_fishk::before{
	content: '';
	position: absolute;
	height: 120px;
	width: 100%;
	top: 0;
	left: 0;
	background: #F5F4FA url('../img/about1.svg') no-repeat center;
	border-radius: 4px;
}
.card_fishk:nth-child(2)::before{
    background-image: url('../img/about2.svg');
}

.card_fishk:nth-child(3)::before{
    background-image: url('../img/about3.svg');
}

.card_fishk:nth-child(4)::before{
    background-image: url('../img/about4.svg');
}
.card_about{

	text-align: left;
}
.about-title { 
	margin: 0 0 10px; 
	text-transform: uppercase; 
	font-weight: 700; 
   } 
	
   .about-desc { 
	color: #757575; 
	
	
   }
/* DO */

.do {
	padding: 94px 0;
}

.do-title {
	font-weight: 700;
	font-size: 36px;
	margin: 0 0 50px;
	text-align: center;
}

.do-cards {
	display: flex;
	gap: 30px;
}

.do-card {
	flex: 1 1 28%;
	height: 294px;
	position: relative;
}

.do-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.do-card-tiitle {
	font-weight: 700px;
	color: #fff;
	text-transform: uppercase;
	height: 70px;
	overflow: hidden;
	padding: 27px 100px;
	display: flex;
	text-align: center;
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	right: 0;
	justify-content: center;
	background: rgba(47, 48, 58, 0.8);
}

/* CARDS */
.team {
	background: #F5F4FA;
}

.card {
	flex: 1 1 20%;
	padding: 0 0 30px;
	background: #FFFFFF;
	box-shadow: 0px 2px 1px 0px #00000033;

}

.team-title {
	font-weight: 700;
	color: #212121;
	text-align: center;
	font-size: 36px;
	padding-top: 94px;

}

.team-cards {
	display: flex;
	gap: 30px;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 94px;
}
.team-cards img{
	width: 270px;
	height: 260px;
}
.team-card-title {
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	color: #212121;
	padding-top: 30px;

}

.team-decs {
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	color: #757575;
	padding-top: 10px;

}


/* portfolio */
.portfolio {
	margin-bottom: 94px;
}

.filters {
	margin-top: 94px;
	display: flex;
	justify-content: center;
	gap: 8px;
}

.filters_buttom {

	gap: 8px;
	background: #F5F4FA;
	color: #212121;
	display: inline-block;
	padding: 6px 25px;
	border-radius: 4px;
}

.filters_buttom:hover {
	background: #2196F3;
	color: #fff;
}

.all_cards {
	display: flex;
	flex-wrap: wrap;
	border: 1px #EEEEEE;
	gap: 30px;
	margin-bottom: 94px;
	margin-top: 30px;
	position: relative;

}

.title_decs {
	padding: 20px 24px;
}


.portfolio_card_title {
	font-weight: 700;
	font-size: 18px;
	color: #212121;
}

.portfolio_decs {
	font-weight: 400;
	font-size: 16px;
	color: #757575;
	margin-top: 4px;
}

.portfolio_card {
	box-shadow: 0px 2px 1px 0px #00000033;
}

.card_img {
	position: relative;
}

.hover-text {
	position: absolute;
	content: '';
	inset: 0;
	display: flex;
	align-items: center;
	padding: 63px 24px;
	opacity: 0;
	font-size: 18px;
	transition: ease-in-out .3s;
	cursor: default;
	line-height: 28px;
}

.hover-text:hover {
	opacity: 1;
	background: rgba(33, 150, 243, 0.9);
	color: #fff;
}

/* HEADER */
.header {
	padding: 24px 0;
	font-weight: 500;
	border-bottom: 1px solid #ECECEC;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-logo {
	margin-right: 93px;
}

.header-menu {
	display: flex;
	gap: 30px;
}

.header-menu-item {
	position: relative;
}

.header-menu-item a {
	color: inherit;
	text-decoration: none;
}

.header-menu-item a.active {
	color: #2196F3;
}

.header-menu-item:hover {
	color: #2196F3;
}

.header-menu-right {
	display: flex;
	gap: 50px;
	margin-left: auto;
}


.header-menu-right-item a {
	color: #757575;
	text-decoration: none;
}

.header-menu-right-item:hover a {
	color: #2196F3;
}


/* hover for footer */
.header-menu {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.header-menu li {
	position: relative;
}

.header-menu>li a {
	display: block;
	color: #220433;
	padding: 10px 30px;
	left: -79px;
	text-decoration: none;
}

.header_first_list {
	background: #fff;
	position: absolute;
	top: 100%;
	display: none;
	outline: #212121;
	width: 150px;
	left: 50%;
	margin-left: -60px;
	padding-top: 20px;
	white-space: nowrap;
	z-index: 1;
}

.header-menu>li:hover .header_first_list {
	display: block;
}

.header_first_list ul {
	position: absolute;
	right: 100%;
	top: 0;
	white-space: nowrap;
	display: none;
}



.header_first_list li, .header_second_list li {
	margin: 5px 0;
	color: #212121;
	text-decoration: none;
	display: block;
	padding: 8px 16px;
	position: relative;
}

.header_first_list li a:hover {
	background-color: #2196F3;
	color: #fff;
}

.header_first_list li:hover ul {
	display: block;
}

.header_second_list {
	background: #fff;
}

.header_second_list li a {
	padding: 8px 30px
}
.header-burger{
	display: none;
}
/*medias*/
.social{
	display: flex;
	gap: 10px;
	margin: 20px 32px 0;
}
.social a{
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
	
}
.social svg {
	width: 20px;
	height: 20px;
	fill:rgba(175, 177, 184, 1);
	transition: fill .2s linear;
}

.social a:hover {
	background: #2196F3;
}

.social a:hover svg {
	fill: #fff;
}
/* TG */
.tg-title{
	font-weight: 700;
	color: #212121;
	text-align: center;
	font-size: 36px;
	padding-top: 94px;
}
.wrapp{
	border: 1px solid #AFB1B8; 
	height: 92px;
    display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
	border-radius: 3px;
    transition: border-color 0.3s ease, transform 0.3s ease;
}
.wrapp:hover{
	border-color: #2196F3;
}
.tg-active{
	display: flex;
	justify-content: center;
	gap: 30px;
	margin: 50px 0;
	
}

.tg-active svg {
	width: 106px;
	height: 60px;
	fill: #AFB1B8;
	transition: fill .5s linear;
}
.tg-active :hover svg {
	fill: #2196F3;
	
}




/* FOOTER */

.footer {
	padding: 60px 0;
	background: #2F303A;
	color: #fff;


}

.footer-logo {
	display: inline-block;
	margin-bottom: 20px;
}

.footer-menu {
	display: flex;
	flex-flow: column;
	gap: 9px;
}

.footer-menu-desc {
	color: #fff;
}

.footer-menu-item {
	color: #757575;
	text-decoration: none;
	align-self: flex-start;
}

.footer-menu-item:hover {
	color: #1385e2;
}


.footer_container {
	display: flex;
	gap: 150px;
	align-items: center;
}

.footer_links {
	display: flex;
	gap: 10px;
	padding-top: 20px;
	
}

.join {
	text-transform: uppercase;
	font-weight: 700;
	color: rgba(255, 255, 255, 1);

}

.footer-icon {
	display: flex;
	gap: 10px;
	margin: 20px 0;
	flex-direction: column;
}

.footer-icon a {
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);

}

.footer-icon svg {
	width: 20px;
	height: 20px;
	fill: #fff;
	transition: fill .5s linear;
}

.footer-icon a:hover {
	background: #2196F3;
}

.footer-icon a:hover svg {
	fill: #fff;
}
/*АДАПТИВ*/
@media (max-width: 1200px){
/* !HEADER */
.header-logo {
	margin-right: 40px;
}
.header-menu,
.header-menu-right {
	gap: 20px;
}


}
@media (max-width: 992px) {
	

	/* ABOUT */
	.about {
		padding: 60px 0 60px;
	}

	.about-cards {
		flex-wrap: wrap;
	}

	.about-card {
		flex: 1 1 45%;
	}

	.do {
		display: none;
	}
}

@media (max-width: 768px) {

	/* !HEADER */
	.header {
		padding: 19px 0 20px;
	}

	.header-logo img {
		width: 134px;
		height: 28px;
	}

	.header-menu,
	.header-menu-right {
		display: none;
	}

	.header-burger {
		display: block;
		position: relative;
		width: 24px;
		height: 16px;
		cursor: pointer;
	}

	.header-burger::before,
	.header-burger::after,
	span {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 3px;
		width: 100%;
		background: #000;
	}

	.header-burger span {
		top: 50%;
		transform: translateY(-50%);
	}

	.header-burger::after {
		top: auto;
		bottom: 0;
	}
}

@media (max-width: 480px) {
	.hero {
		height: 400px;
	}

	.hero-title {
		font-size: 26px;
	}

	.about-cards {
	display: block;	
	
	}
	.card_fishk{
		width: 100%;
		margin-top: 30px;
	}
	/*team*/
	
	.team-cards{
		display: block;
		margin: 0 15px;
	}
	.card{
		margin-top: 30px;
		width: 100%;
		box-sizing: border-box;
	}
	.team-cards img{
		width: 400px;
		height: 410px;
	}
	.social{
		justify-content: center;
	}
	/*tg*/
	.tg-title{
		display: none;
	}
	.tg-active{
		display: none;
	}
	/*footer*/
	.footer_container{
		display: block;
		text-align: center;
		align-items: center;
		
	}
	.footer_right .footer_left{
		width: 100%;
	}
	.footer-menu-item, .footer-menu-desc, .footer_links {
		text-align: center;
	  }
	.footer-contact{
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin: 0 auto;
	}
	  .footer_links {
		justify-content: center; 
	  }
	  /*PORTFOLIO!!!!*/
	  .filters{
		display: block;
		text-align: left; 
		margin-bottom: 10px;
		
	  }
	  .filters_buttom{
		margin-bottom: 5px;
	  }
	 
	 .all_cards{
		display: block;
		margin: 0 15px;
	 }
	 .portfolio_card{
		margin-top: 30px;
		width: 100%;
		box-sizing: border-box;
	 }
	 .portfolio_card img{
		width: 400px;
		height: 294px;
	}
}